body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  .winning-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .image-container {
    position: relative;
    display: inline-block;
  }
  
  .winning-image {
    max-width: 100%;
    height: auto;
  }
  
  .overlay-text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .winning-text {
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
    color: #8a8a8a; /* Dark gray color */
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff; /* White outline */
  }
  
  .additional-text {
    font-family: 'Dancing Script', cursive;
    font-size: 1.5rem;
    color: #8a8a8a; /* Dark gray color */
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff; /* White outline */
  }
  
  
  
  .play-again-btn {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin-top: 1rem;
  }
  
  .play-again-btn:hover {
    background-color: #0056b3;
  }
  